/*
foglio di stile
*/

body {
    background-color: #FFFFF
    }

.logo img{

  height:50%;
}

figure h1{

  color:#1E94C5;
}

.menu {
    font-family: 'Raleway', serif;
    font-size: 150%;
    background-color: #e5e5e5;
    padding: 5px;
    }
           
footer {
    text-align: center;
    font-size: 8px;
    background-color: #C9E2E6;
    font-family: 'Raleway', serif;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    }
    
/* Home */
    
.jumbotron {
    height: 800px;
    margin: 0px;
    }

.jumbotron h1 {
    font-family: 'Comfortaa';
    font-size:500%;
    text-align: center;
    color: black;
    padding-top: 100px;
    }
    
.jumbotron p {
    font-family: 'Comfortaa';
    text-align: center;
    color: black;
    }

#about  {
    padding: 10px;
    }

#about h2  {
    padding: 10px;
    font-family: 'Raleway', serif;
    text-align: center;
    color: black;
    font-size: 200%;
    }
    
#about p  {
    padding: 10px;
    font-family: 'Raleway', serif;
    text-align: left;
    color: black;
    font-size: 75%;
    }

#calendar  {
    text-align: center;
    }

/*responsive icons*/
.icon  {
    max-width: 100%;
    text-align: center;
    }

/*animated text*/
svg {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*responsive animated text? */
#animated-text  {
    max-width: 100%;
    }

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Raleway:400);

.text {
  font-size: 300%;
  fill: none;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #0092C7;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #3B5998;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #008298;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #7232A3;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #7232A3;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/*About*/

#title  {
    font-family: 'Comfortaa';
    text-align: center;
    font-size: 36px;
    }

.mission h2  {
    font-family: 'Comfortaa';
    text-align: center;
    }

.mission p  {
    font-family: 'Raleway';
    margin-left: 34px;
    margin-top: 5px;
    }

.people h2  {
    font-family: 'Comfortaa';
    text-align: center;
    }

.screen:hover .background {
    opacity:0.5;
}
.slider:hover {
    left:-320px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header {
    font-family: 'Raleway';
    width:100%;
    height:60px;
    background:#56B8DE;
    text-align:center;
    float:left;
    color:#fff;
}
.profilepic {
    width:64px;
    height:64px;
    border-radius:50%;
    margin-top:20px;
    border:2px solid #fff;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
}
.slider h3 {
    font-family: 'Raleway';
    margin-top:0;
    text-shadow:0px 1px 3px rgba(0, 0, 0, 0.75);
}
.screen {
    margin:0 auto;
    margin-top:20px;
    width:320px;
    height:200px;
    box-shadow: 0px 2px 6px #999;
    position:relative;
    overflow:hidden;
    background:#333;
}
.slider {
    width:640px;
    float:left;
    left:0;
    position:relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header1, .header2 {
    font-family: 'Raleway';
    text-align:center;
    width:320px;
    float:left;
    height:140px;
    color:#fff;
    position:relative;
}
.header2 {
    padding-top:24px;
}
.slider p {
    font-family:'Raleway';
    padding: 2px;
    font-size:12px;
    text-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
}
    
.sponsor  {
    margin: 34px;
    }
    
.sponsor h2  {
    font-family: 'Comfortaa';
    text-align: center;
    }
    
.sponsor p {
    margin-top: 8px;
    font-family: 'Raleway';
    }
    
.sponsor-image  {
    text-align: center;
    }
    
.sponsor-image img  {
    max-width: 100%
    }
    
.meetup-italia  {
    margin: 34px;
    }

.meetup-italia h2  {
    text-align: center;
    font-family: 'Comfortaa';
    }
    
.meetup-italia p  {
    margin-top: 5px;
    font-family: 'Raleway';
    }
    